* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary: #3ec4e6;
    --secondary: #fff;
    --secondary-light: #adadad;
    --dark1: #222222;
    --dark2: #181717;
}

body{
    font-size: 18px;
    font-family: 'Signika', sans-serif;
    color: var(--secondary);
}

.navbar {
    display: flex;
    justify-content: flex-end;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar a {
    font-size: 1.5rem;
    padding: 10px;
    text-decoration: none;
    color: white;
    margin: 20px;
    transition: 1s;
}

.navbar a:hover{
    color: var(--primary);
    transition: 1s;
}

.hero {
    background-color: var(--dark2);
    position: relative;
}

.hero img {
    width: 100%;
    height: 530px;
    opacity: 0.55;
}

span{
    color: var(--primary);
}

/* Circle profile */

.profile div {
    position: absolute;
}

.profile {
    display: flex;
    justify-content: center;
}

.square {
    width: 320px;
    height: 450px;
    background-color: var(--dark1);
    opacity: 0.7;
    z-index: 10;
    top: 70px;
}

.circle-trans {
    width: 290px;
    height: 290px;
    border-radius: 50%;
    border: solid 30px var(--primary);
    opacity: .2;
    z-index: 19;
    top: 90px;
}

.circle {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: solid 15px var(--primary);
    z-index: 21;
    top: 120px;
}

.profile-img {
    top: 134px;
    z-index: 20;
}

.profile-img img {
    width: 202px;
    height: 202px;
    border-radius: 50%;
}

.square-text {
    font-size: 1.9rem;
    color: var(--secondary);
    top: 380px;
    z-index: 11;
}

.square-text-2 {
    font-size: 1rem;
    color: var(--secondary);
    top: 418px;
    z-index: 11;
}

.square-text-3 {
    font-size: 1.3rem;
    color: var(--secondary);
    top: 490px;
    z-index: 11;
}

.square-text-3 a{
    color: var(--secondary);
    text-decoration: none;
}

.contact-icon {
    top: 450px;
    z-index: 11;
}

.contact-icon img {
    width: 40px;
    margin: 0 10px;
}

.contact-icon img:hover{
    transform: scale(1.2);

}